[default]
url                  = https://accounts.google.com/o/saml2/initsso?idpid=&spid=&forceauthn=false
username             =
provider             = GoogleApps
mfa                  = Auto
skip_verify          = false
aws_urn              = urn:amazon:webservices
aws_session_duration = 14400
aws_profile          = saml
app_id               =
timeout              = 0
resource_id          =
subdomain            =
role_arn             =
